{% extends 'base.html' %}

{% block content %}
    <h1>Dashboard</h1>
    <ul class="listgroup">
        {% for project in projects %}
        <li class="list-group-item">{{ project.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}
