{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <form method="post" novalidate>
        {{ form | crispy | linebreaks }}
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Save person</button>
    </form>
{% endblock %}
